body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 350px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.sidebar .profile {
    text-align: center;
    padding: 20px;
}

.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    text-align: center;
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.sidebar ul li a:hover {
    color: #007bff;
}

.main {
    width: 1400px;

    padding: 20px;
}

.content-wrapper {
    margin-left: 360px;
    padding: 20px;
}
